---
# handlers file for docker
- name: systemd_reload
  become: true
  systemd:
    daemon_reload: yes

- name: systemd_restart
  become: true
  systemd:
    name: docker.service
    state: restarted
...